* {
    margin:0;
    padding:0;
}

body, html {
    height: 100%;
    overflow: hidden;
}

body {
    font: 10px sans-serif;
}

.axis {
    shape-rendering: crispEdges;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.y.axis line, .y.axis path, .x.axis line, .x.axis path {
    fill: none;
    stroke: #000;
}

/* The profile elements */
.reach {
    stroke-width: 1px;
    vector-effect: non-scaling-stroke;
    fill-opacity: 0.7;
}

g.reach.usage-current-4514 > polygon,
g.reach.usage-current-4518 > polygon,
g.reach.usage-current-4520 > polygon {
    stroke: #0000ff;
    fill: #0000ff;
}

g.reach.usage-current-4516 > polygon {
    stroke: #00ff6f;
    fill: #00ff6f;
}

g.reach.usage-current-4522 > polygon {
    stroke: #660066;
    fill: #660066;
}

g.reach.usage-current-4524 > polygon,
g.reach.usage-current-4526 > polygon {
    stroke: #ff0000;
    fill: #ff0000;
}

/* Fallback */
g.reach > polygon {
    stroke: #969696;
    fill: #969696;
}

.special-structure {
    stroke-width: 1px;
    vector-effect: non-scaling-stroke;
    stroke: #444499;
    fill: #444499;
    fill-opacity: 0.7;
}

.terrain {
    stroke-width: 1.5px;
    vector-effect: non-scaling-stroke;
    stroke: #007700;
    fill: none;
}

rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
}
